## 파이썬 기초

In [3]:
 !python -V

Python 3.8.8

In [9]:
# 표현식
print(273)
print(10+20+30)
'Python Programming'

273
60

'Python Programming'

In [10]:
# 문장 : 표현식이 하나 이상씩 모이면 문장
print(52, 'Hello Python', 5+3)

52 Hello Python 8

In [14]:
# 프로그램 : 문장이 모이면 프로그램
a=1; b=2; c=a+b;
print(c)

3

In [15]:
# 키워드 : 사용자가 이름으로 사용 불가능
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

식별자 기본 규칙 
- 키워드를 사용하면 안된다.
- 특수문자는 언더 바(\_) 만 사용한다.
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

In [ ]:
alpha
break # 키워드
alpha10
_alpha
273alpha # 숫자로 시작
AlpHa
ALPHA
has space # 공백이 있어서

파이썬은 snake_case와 CamelCase를 모두 사용
- itemlist /    item_list(snake_case),   ItemList(CamelCase)
- loginstatus / login_status,            LoginStatus
- CamelCase(대문자로 시작) 클래스
- snake_case(소문자로 시작) 클래스 뒤에 ()가 있다 - 함수
- snake_case(소문자로 시작) 클래스 뒤에 ()가 없다 - 변수

In [19]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어
if 3 in [1,2,3,4]: print('3이 있습니다.')

3이 있습니다.

In [21]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177 #(영어 O 소문자) 8진수 00 또는 00으로 시작
f = 0xABC #16진수 0x 시작
print(a)  
print(b)  
print(c)  
print(d)  
print(e)  
print(f)

123
-123
0
1.23
127
2748

In [24]:
# 사칙연산
a = 10
b = 2.3
c = a + b # 더하기
d = a * b # 곱하기
e = a / b # 나누기
f = a % b # 나머지
g = a // b # 몫
h = 2 ** 2 # 제곱
print(a)  
print(b)  
print(c)  
print(d)  
print(e)  
print(f)  
print(g)  
print(h)

10
2.3
12.3
23.0
4.347826086956522
0.8000000000000007
4.0
4

In [30]:
# 다른 타입간 연산은 안됨
string = '문자열'
number = 273
string + number

TypeError: can only concatenate str (not "int") to str

In [35]:
a = 10
a = '문자'
a = 100
type(a)

int

In [38]:
# 복합 대입 연산자 
num = 10
num += 10
num *=10
num

200

In [40]:
# 사용자 입력
input('인사말을 입력하세요 : ')
#input() 함수를 사용하면 숫자도 문자로 전환되어 숫자연산을 위한 변환 필요

인사말을 입력하세요 : ㅎㅇ

'ㅎㅇ'

In [43]:
num = input('숫자를 입력하세요 : ') # 문자열로 입력 받음
print(num)
type(num)

숫자를 입력하세요 : 5
5

str

In [45]:
num1 = input('숫자를 입력하세요 : ') # 문자열로 입력 받음
num2 = input('숫자를 입력하세요 : ') # 문자열로 입력 받음
print(num1 + num2)

숫자를 입력하세요 : 156
숫자를 입력하세요 : 156
156156

In [46]:
num1 = input('숫자를 입력하세요 : ') # 문자열로 입력 받아서
num1_n = int(num1) # integer 형(정수형) 으로 변환
num2 = input('숫자를 입력하세요 : ')
num2_n = int(num2)
print(num1_n + num2_n)

숫자를 입력하세요 : 5
숫자를 입력하세요 : 2
7

In [49]:
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.
a = input('숫자를 입력하세요 : ')
a_1 = int(a)
b = input('숫자를 입력하세요 : ')
b_1 = float(b)
print(a_1 + b_1)

숫자를 입력하세요 : 3
숫자를 입력하세요 : 3.3
6.3

In [55]:
# Q. a = 52 와 52.273일때 a+b = 5252.273으로 출력되도록 a와 b를 문자열 자료형으로 변환하세요.
a = str(52)
b = str(52.273)
print(a + b)

5252.273

In [54]:
a = input('숫자를 입력하세요 : ')
int_a = int(a) # 문자열 이었던 a를 정수 a로 변환
b = input('숫자를 입력하세요 : ')
float_b = float(b)

print(int_a + float_b)

숫자를 입력하세요 : 52
숫자를 입력하세요 : 52.273
104.273

In [58]:
# 문자열 : "", '', """ """, ''' '''
p1 = "python's value is great"
p2 = 'python\'s value is great' # \으로 이스케이프 코드를 통해 오류 수정
print(p2)

python's value is great

In [61]:
s1 = '"python is valuable" he says'
s1

'"python is valuable" he says'

In [63]:
s2 = 'python\'s value is great'
s2

"python's value is great"

In [67]:
y1 = "Once you study data analysis\nYou need Python"
print(y1)
y2 = '''Once you study data analysis
You need Python'''
print(y2)
y3 = """Once you study data analysis
You need Python"""
print(y3)

Once you study data analysis
You need Python
Once you study data analysis
You need Python
Once you study data analysis
You need Python

In [70]:
# 문자열 연산
a1 = 'Python'
a2 = 'is easy to learn'
print(a1 + a2)
print(a1 * 3)
print("=" * 20)

Pythonis easy to learn
PythonPythonPython
====================

In [72]:
# 자료형 -  List
# 리스트는 [] 로 표시하며 [] 안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1, 'a','abc',[1,2,3,4,5],['a','b','c']] # 리스트 안에 리스트를 넣을 수 있음
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [85]:
# 인덱싱 
list1 = [1,2,3,4,5]
list1[:] # 모든 리스트 표시
list1[0:5] # 0번째부터 5번째 이전까지
list3[2]
list3[3][4] # 리스트[] 속의 리스트[] 2번 리스트의 3번 숫자
list3[4][2]

'c'

In [90]:
# 리스트 수정, 삭제

a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
a[0] = 1 #숫자 0을 1로 수정
print(a)
b[1] = 'a' # 문자 b를 a로 수정
print(b)
del b[0] #b의 0번 문자를 삭제
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
['a', 'c']

In [94]:
c = a + b
c
c[11] = 1 # 11 or -1 = 끝에서 1번째 자리 수
c

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 1]

In [96]:
c[-2] = 2 #10 or -2 = 끝에서 2번째 자리 수
c

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]

In [101]:
# 올림차순 정렬
s = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]
s.sort()
print(s)
# 내림차순 정렬
s_d = sorted(s, reverse=True) #1번째 방법
print(s_d)
s.reverse() #2번째 방법
print(s)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [154]:
# 인덱스 위치 반환 
import numpy as np #numpy 라이브러리(랜덤 함수를 제공)
c = np.random.randint(100, size=100).tolist()
print(c)
c.index(65) #64번째에 있는 인덱스 0 ~ 64까지 = 65

[13, 33, 40, 22, 12, 8, 85, 52, 23, 67, 38, 0, 37, 87, 15, 49, 96, 93, 43, 46, 62, 32, 14, 55, 92, 93, 49, 38, 24, 55, 94, 18, 4, 23, 29, 27, 12, 46, 0, 34, 99, 83, 75, 2, 44, 21, 43, 93, 81, 98, 99, 87, 65, 92, 47, 18, 21, 52, 10, 72, 5, 43, 41, 13, 35, 25, 44, 17, 79, 8, 43, 22, 71, 12, 58, 21, 9, 42, 70, 65, 47, 31, 24, 59, 77, 9, 92, 19, 96, 8, 5, 81, 5, 88, 53, 79, 52, 10, 50, 25]

52

In [155]:
at = [1,2,3,4,5,6]
at.index(4)

3

In [111]:
# 개수 반환
c = [1,1,3,3,3,5,5]
print(c.count(3))

3

In [114]:
# 리스트 확장
h = [1,2,3]
h.extend([4,5])
print(h)
# 추가
h.append(6)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [115]:
# 튜플
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])

tuple1[:] # 모든 리스트 표시
tuple1[0:5] # 0번째부터 5번째 이전까지
tuple3[2]
tuple3[3][4] # 리스트[] 속의 리스트[] 2번 리스트의 3번 숫자
tuple3[4][2]

'c'

In [117]:
#튜플의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용  
tuple[0] = 6
print(list1)

TypeError: 'type' object does not support item assignment

In [160]:
t1 = (1,) # 1개의 요소만 가질 때는 요소 뒤에 콤마를 붙여야 함
print(t1)
t2 = 1,2,3
print(t2)
print(t2 * 3)
t3 = t1 + t2
print(t3)
t4 = (t3) * 3
print(t4)
t5 = (1)
print(t5)
type(t5)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
(1, 1, 2, 3, 1, 1, 2, 3, 1, 1, 2, 3)
1

int

In [168]:
#자료형 - 딕셔너리 : 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합)
#인덱싱이 안 됨
d1 = {'a':1,'b':2, 'c':3}
print(d1['a']) #d1에서 문자열 'a'라는 키를 찾아 값을 출력
d1['b'] = 5 #d1에서 b라는 키를 찾아 값을 5로 변경
print(d1)

1
{'a': 1, 'b': 5, 'c': 3}

In [170]:
print(d1.keys()) #키 만 출력
print(d1.values()) #값 만 출력
print(d1.items()) #키 값 별로 출력

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [178]:
# 자료형 - 집합, set(중복을 허용하지 않으면 순서가 없다)
s1 = set([1,2,5,4,3])
s2 = set('Hello') # 중복을 허용하지 않아서 L이 하나만 출력 됨
print(s1)
print(s2)
type(s1)

{1, 2, 3, 4, 5}
{'l', 'e', 'o', 'H'}

set

In [180]:
# 집합은 인덱싱으로 값을 얻을 수 없으면 필요시 리스트나 튜플로 변환 후 인덱싱
l1 = list(s1)
print(l1[1])
l2 = list(s2)
print(l2[1])
type(l1)

2
e

list

In [201]:
# Q s1, s2의 합집합과 교집합을 각각 리스트와 튜플로 출력하세요

s1 = set([1,2,3,4,5,6])  
s2 = set([4,5,6,7,8,9])
tr = tuple(s1 | s2) # 합집합 튜플
lr = list(s1 & s2) # 교집합 리스트
print(tr)
print(lr)
type(tr)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
[4, 5, 6]

tuple

In [202]:
# 들여쓰기
li = ['a','b','c']
if 'a' in li :
    print('a가 li에 있습니다.')
else:
    print('a가 li에 없습니다.')

a가 li에 있습니다.

In [204]:
# 포멧 함수
f1 = "{} 선수가  {}등 입니다.".format('홍길동',1)
print(f1)
print("%s 선수가 %d 등 입니다." %("홍길동",1))

홍길동 선수가  1등 입니다.
홍길동 선수가 1 등 입니다.

In [ ]:
#파이썬은 자바보다 2배 쉽습니다

In [210]:
sp1 = "{}은 {}보다 {}배 쉽습니다.".format('파이썬','자바',2)
print(sp1)
print("%s은 %s보다 %d배 쉽습니다" %('파이썬',"자바",2))

파이썬은 자바보다 2배 쉽습니다.
파이썬은 자바보다 2배 쉽습니다

In [218]:
ex2 = 12345
f2 = '{:d}'.format(ex2) #:d = 정수를 그대로 출력 
print(f2)
f3 = '{:10}'.format(ex2) #:10 = 정수를 10자리수 까지 사용
print(f3)
ex3 = 12.3456789
f4 = '{:f}'.format(ex3) # 실수를 소수점 아래 6자리까지 출력
print(f4)
f5 = '{:15.2f}'.format(ex3) # 15자리 사용 실수를 소수점 아래 2자리까지 출력
print(f5)

12345
     12345
12.345679
          12.35

In [225]:
# 제어문 - if~ elif~else
# "수입과 지출금액을 비교해서 수입이 많으면 저축증가, 반대이면 빛이 증가,
#  같으면 현상유지"

a = 5,000,000 #수입
b = 3,000,000 #지출
if a > b :
    print('저축 증가')
elif a < b :
    print('빛 증가')
else :
    print('현상유지')

저축 증가

In [229]:
a = 5,000,000.165
b = 5,000,000.175
if a > b :
    print('저축 증가')
elif a < b :
    print('빛 증가')
else :
    print('현상유지')

빛 증가

In [233]:
# for 반복문
numbers = [5,15,6,20,7,25]
for number in numbers:
    print(number)

5
15
6
20
7
25

In [246]:
# Q. 5를 2로 나누었을때의 몫과 나머지를 구하세요
a = 5 // 2 #몫
b = 5 % 2 #나머지
print('몫은',a ,'나머지는',b,'입니다')

몫은 2 나머지는 1 입니다

In [249]:
# Q. 101의 3승을 구하세요
print(101**3)

1030301

In [250]:
# Python과 3.8.3을 합쳐서 Python 3.8.3으로 출력하세요
a = 'Python '
b = '3.8.3'
c = a + b
print(a + b)

Python 3.8.3

In [237]:
# a = 5 a = '10' a = 15일때 a의 자료형은 무엇인가?
# integer형, 정수, int

In [256]:
# 5의3승을 3으로 나누었을때의 나머지를 복합 대입 연산자를 이용해서 구하세요
a = 5 ** 3
a %= 3
print(a)

2

In [257]:
#이름을 물어보고 답하는 내용을 출력하세요
a = input('이름을 입력해 주세요')
print('이름이 ',a , '입니다')

이름을 입력해 주세요신인철
이름이  신인철 입니다

In [259]:
#숫자를 3개를 입력해서 첫 번째 숫자를 두 번째 숫자 승한 뒤에서 세 번째 숫자로
# 나누었을 때 몫을 구하세요
a = input('숫자를 입력해 주세요')
a1 = int(a)
b= input('숫자를 입력해 주세요')
b1 = int(b)
c= input('숫자를 입력해 주세요')
c1 = int(c)

r = a1 ** b1 // c1
print(r)

숫자를 입력해 주세요5
숫자를 입력해 주세요3
숫자를 입력해 주세요3
41

In [263]:
#[0,1,2,3,4,5,6,7,8,9,'a','b','c']에서 9와 'a'를 삭제 후
# 리스트로 출력하세요

a=[0,1,2,3,4,5,6,7,8,9,'a','b','c']
del a[-4]
del a[-3]
print(a)
type(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

list

In [265]:
#[0,1,2,3,4,5,6,7,8,'b','c']에서 'c'를 삭제 후 출력하세요
a = [0,1,2,3,4,5,6,7,8,'b','c']
del a[-1]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b']

In [269]:
#[4,8,5,4,8,4,3,9,1,9]를 내림차순으로 정렬하세요
a = [4,8,5,4,8,4,3,9,1,9]
a.sort()
a.reverse()
print(a)

[9, 9, 8, 8, 5, 4, 4, 4, 3, 1]

In [271]:
##태어난 연도를 입력 받아 띠를 출력하는 프로그램을 작성하세요.  
##원숭이, 닭, 개, 돼지, 쥐, 소, 범, 토끼, 용, 뱀, 말, 양띠

a = input('현재 연도를 입력해 주세요')
ny = int(a)
b = input('태어난 연도를 입력해 주세요')
oy = int(b)
if year // 12 == 0 :
    print('쥐 띠입니다.')
elif year // 13 == 0 :
    print('소 띠입니다.')
elif year // 14 == 0 :
    print('호랑이 띠입니다.')
elif year // 15 == 0 :
    print('토끼 띠입니다.')
elif year // 16 == 0 :
    print('용 띠입니다.')
elif year // 17 == 0 :
    print('뱀 띠입니다.')
elif year // 18 == 0 :
    print('말 띠입니다.')
elif year // 19 == 0 :
    print('양 띠입니다.')
elif year // 20 == 0 :
    print('원숭이 띠입니다.')
elif year // 21 == 0 :
    print('닭 띠입니다.')
elif year // 22 == 0 :
    print('개 띠입니다.')
else :
    print('돼지 띠입니다.')

태어난 연도를 입력해 주세요98
돼지 띠입니다.

계절 구분 프로그램
- 시나리오 : 3 ~ 5 월은 봄, 6 ~ 8 월은 여름, 9 ~ 11 월은 가을, 12 ~ 2 월은 겨울로 구분  
지금의 계절을 알려주는 프로그램  
- 각 계절 별 출력 멘트는 계절에 맞게 창작  
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

## june_w4 이름 폴더에 과제_0621_신인철로 제출  
## 브라우저 인쇄 pdf로 저장 후 제출