In [4]:
#사용자가 입력한 게임 회수만큼 로또 번호를 출력하는 프로그램을 작성하세요(1~45) 6개 숫자
import random
innum = int(input('플레이 할 게임 횟수를 입력해 주세요 : ')) - 1
while 1:
    a = int(random.randrange(1,46))
    b = int(random.randrange(1,46))
    c = int(random.randrange(1,46))
    d = int(random.randrange(1,46))
    e = int(random.randrange(1,46))
    f = int(random.randrange(1,46))
    print('{}번 {}번 {}번 {}번 {}번 {}번'.format(a,b,c,d,e,f))
    if innum == 0:
        break
    else:
        innum -= 1

플레이 할 게임 횟수를 입력해 주세요 : 5
24번 35번 20번 25번 26번 23번
10번 28번 21번 30번 12번 43번
20번 13번 19번 10번 14번 43번
11번 11번 37번 35번 1번 12번
2번 21번 16번 35번 10번 20번

In [9]:
#남녀 파트너 정해주기 프로그램을 작성하세요(5개 커플)
import random
hm = int(input('몇 개의 커플을 생성하시겠습니까? : ')) * 2

male = []
female = [] 
while True:
    if hm == 0:
        break
    else:
        gender = input('성별을 입력해 주세요 : ')
        
        if gender == '남자':
            name = input('이름을 입력해 주세요 : ')
            male.append(name)
            hm -= 1
        elif gender == '여자':
            name = input('이름을 입력해 주세요 : ')
            female.append(name)
            hm -= 1
        else :
            print('성별을 올바르게 입력해 주세요')
random.shuffle(male)
random.shuffle(female)
print(male[0],female[0],'가 첫 번째 커플입니다')
print(male[1],female[1],'가 두 번째 커플입니다')
print(male[2],female[2],'가 세 번째 커플입니다')
print(male[3],female[3],'가 네 번째 커플입니다')
print(male[4],female[4],'가 다섯 번째 커플입니다')

몇 개의 커플을 생성하시겠습니까? : 1
성별을 입력해 주세요 : 남
성별을 올바르게 입력해 주세요
성별을 입력해 주세요 : 1
성별을 올바르게 입력해 주세요
성별을 입력해 주세요 : 남자
이름을 입력해 주세요 : 1
성별을 입력해 주세요 : 여자
이름을 입력해 주세요 : 2
1 2 가 첫 번째 커플입니다

IndexError: list index out of range

In [5]:
#입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요
inser = input('문자열을 입력해주세요 :')
li1 = list(inser)
li2 = li1.append(li1[0])
li2

문자열을 입력해주세요 :abc

In [10]:
x = input('문자를 입력하세요 : ')
x[1:len(x)]+x[0]

문자를 입력하세요 : abcd

'bcda'

In [10]:
# Q4. url에서 호스트 도메인을 추출하여 출력하세요.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

tmp = url.split('/') #/를 기준으로 나눈 tmp라는 리스트 생성
domain = tmp[2] #도메인은 tmp라는 리스트의 3번째에 위치함
print(domain)

news.naver.com

list

In [17]:
# Q5. url에서 쿼리문을 추출하여 출력하세요.
# url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 
# 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

tmp = url.split('?') #?를 기준으로 url을 나눠서 tmp 리스트 생성
print(tmp)
queries = tmp[1].split('&') # tmp 리스트 2번째를 &를 기준으로 나눔
print(queries)

['http://news.naver.com/main/read.nhn', 'mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601']
['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

In [14]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
tmp = url.split('?')
queries = tmp[1].split('&')
for query in queries:
    print(query)

mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601

In [18]:
# Q6. 텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 
# 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
# [ ] -> [177]회 나타남
# [e] -> [97]회 나타남
# [t] -> [85]회 나타남
from collections import Counter
with open('data/mydata.txt','r') as f:
    da = f.read()
total = Counter(da)
for key,value in total.items():
    print("[{}] -> [{}]회 나타남".format(key,value))

[a] -> [78]회 나타남
[ ] -> [177]회 나타남
[l] -> [34]회 나타남
[o] -> [73]회 나타남
[t] -> [85]회 나타남
[f] -> [17]회 나타남
[h] -> [48]회 나타남
[i] -> [50]회 나타남
[n] -> [60]회 나타남
[g] -> [11]회 나타남
[s] -> [60]회 나타남
[c] -> [23]회 나타남
[u] -> [27]회 나타남
[r] -> [54]회 나타남
[e] -> [97]회 나타남
[d] -> [24]회 나타남
[y] -> [15]회 나타남
[
] -> [43]회 나타남
[w] -> [20]회 나타남
['] -> [8]회 나타남
[v] -> [9]회 나타남
[m] -> [20]회 나타남
[b] -> [13]회 나타남
[k] -> [7]회 나타남
[p] -> [15]회 나타남
[!] -> [2]회 나타남

In [19]:
# Q7. mydata.txt 파일에 들어있는 단어수를 계산하여 출력하세요.

dp = da.split(' ') #공백을 기준으로 나눈 리스트로 변환
total = Counter(dp) #각 개체별로 몇 번씩 나왔는지 카운터해서 total에 저장


for key,value in total.items(): #total을 딕셔너리로 분류해 key값 value 값으로 나눔
    print("{}가 {}번 들어있습니다".format(key, value))

a가 6번 들어있습니다
lot가 1번 들어있습니다
of가 4번 들어있습니다
things가 1번 들어있습니다
occur가 1번 들어있습니다
each가 1번 들어있습니다
day
we've가 1번 들어있습니다
got가 1번 들어있습니다
to가 4번 들어있습니다
live가 1번 들어있습니다
with가 1번 들어있습니다
on가 5번 들어있습니다
our가 3번 들어있습니다
way
there's가 1번 들어있습니다
so가 2번 들어있습니다
much가 1번 들어있습니다
misery가 1번 들어있습니다
the가 8번 들어있습니다
screen
with가 1번 들어있습니다
commercials가 1번 들어있습니다
in가 3번 들어있습니다
between

and가 1번 들어있습니다
russians가 1번 들어있습니다
won't가 1번 들어있습니다
be가 2번 들어있습니다
late
uncle가 1번 들어있습니다
sam가 1번 들어있습니다
don't가 1번 들어있습니다
want가 1번 들어있습니다
wait
no가 1번 들어있습니다
matter가 1번 들어있습니다
if가 1번 들어있습니다
you're가 1번 들어있습니다
black가 1번 들어있습니다
or가 1번 들어있습니다
white
you가 1번 들어있습니다
never가 1번 들어있습니다
ever가 1번 들어있습니다
had가 1번 들어있습니다
right

and가 1번 들어있습니다
look가 1번 들어있습니다
up가 3번 들어있습니다
eternal가 1번 들어있습니다
skies
see가 1번 들어있습니다
warfare가 1번 들어있습니다
even가 1번 들어있습니다
there
what가 1번 들어있습니다
once가 1번 들어있습니다
has가 1번 들어있습니다
been가 1번 들어있습니다
paradise
now가 1번 들어있습니다
destruction가 1번 들어있습니다
and가 3번 들어있습니다
despair

in가 1번 들어있습니다
other가 1번 들어있습니다
worlds가 1번 들어있습니다
children가 1번 들어있습니다
die
lacking가 1번 들어있습니다
food가 1번 들어있습니다
ill가 1번 들어있습니다
from가 1번 들어있습니다
fly
oppressed가 1번 들어있습니다
by가 1번 들어있습니다
troops가 1번 들어있습니다
tame가 1번 들어있습니다
their가 1번 들어있습니다
land
it's가 1번 들어있습니다
all가 1번 들어있습니다
same가 1번 들어있습니다
again

if가 1번 들어있습니다
any가 1번 들어있습니다
man가 1번 들어있습니다
is가 1번 들어있습니다
free가 1번 들어있습니다
earth
then가 1번 들어있습니다
tormentors가 1번 들어있습니다
steal가 1번 들어있습니다
his가 3번 들어있습니다
birth
they가 1번 들어있습니다
slam가 1번 들어있습니다
gun가 1번 들어있습니다
butts가 1번 들어있습니다
face
and가 1번 들어있습니다
leave가 1번 들어있습니다
woman가 1번 들어있습니다
choked가 1번 들어있습니다
mace

so가 1번 들어있습니다
stand가 2번 들어있습니다
for가 2번 들어있습니다
human가 2번 들어있습니다
rights
push가 2번 들어있습니다
back가 2번 들어있습니다
this가 2번 들어있습니다
pest가 2번 들어있습니다
hate
raise가 2번 들어있습니다
you가 2번 들어있습니다
voice가 2번 들어있습니다
pass가 2번 들어있습니다
light
unite!가 2번 들어있습니다
it's가 2번 들어있습니다
not가 2번 들어있습니다
too가 2번 들어있습니다
late

how가 1번 들어있습니다
many가 2번 들어있습니다
tears가 1번 들어있습니다
flow가 1번 들어있습니다
away
to가 1번 들어있습니다
become가 1번 들어있습니다
sea가 1번 들어있습니다
fears
how가 1번 들어있습니다
hearts가 1번 들어있습니다
are가 1번 들어있습니다
torn가 1번 들어있습니다
apart
till가 1번 들어있습니다
another가 1번 들어있습니다
torment가 1번 들어있습니다
starts

but가 1번 들어있습니다
before가 1번 들어있습니다
world
turns가 1번 들어있습니다
into가 1번 들어있습니다
sun
all가 1번 들어있습니다
cruelty가 1번 들어있습니다
violence
on가 1번 들어있습니다
earth가 1번 들어있습니다
will가 1번 들어있습니다
dead가 1번 들어있습니다
gone

so가 1번 들어있습니다
late가 1번 들어있습니다

In [20]:
# Q8. 사용자가 입력한 단어가 mydata.txt 파일에 포함된 개수를 계산하여 출력하세요.
a = input('검색할 단어를 입력하세요 :')
dk = da.split(' ') #공백을 기준으로 나눈 리스트로 변환
total = Counter(dk) #각 개체별로 몇 번씩 나왔는지 카운터해서 total에 저장

for key,value in total.items(): #total을 딕셔너리로 분류해 key값 value 값으로 나눔
    if a == key:
        print("{}가 {}번 들어있습니다".format(key, value))

검색할 단어를 입력하세요 :the
the가 8번 들어있습니다

In [21]:
# Q9. mydata.txt 파일에서 특정 단어 t1을  다른 단어 t2로 변경하여 출력하세요.
t1 = input('변경 할 대상 단어를 입력하세요 : ')
t2 = input('대상을 어떤 단어로 바꾸시겠습니까? : ')
dkli = da.replace(t1,t2)
print(dkli)

변경 할 대상 단어를 입력하세요 : the
대상을 어떤 단어로 바꾸시겠습니까? : 킹
a lot of things occur each day
we've got to live with on our way
킹re's so much misery on 킹 screen
with commercials in between

and 킹 russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to 킹 eternal skies
see warfare even 킹re
what once has been a paradise
now destruction and despair

in o킹r worlds 킹 children die
lacking food ill from a fly
oppressed by troops to tame 킹ir land
it's all 킹 same again

if any man is free on earth
킹n tormentors steal his birth
킹y slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on 킹 light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till ano킹r torment starts

but before 킹 world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on 킹 light
unite! it's not too late

In [128]:
# Q10. 주어진 데이터에서 1880년에서 2015년까지  년도 별 출생아 수를 출력하세요.
for y in range(1880,2016):
    year = y
    filename = 'data/names/yob%d.txt' %y
    with open(filename,'r') as f:
        data = f.read()
        re_dic = {}
        baby_list = []
        data = data.replace('\n',',')
        result = data.split(',')
        result = [i.strip() for i in result]
        re_dic['name'] = result[0]
        re_dic['gender'] = result[1]
        re_dic['num'] = result[2]
        baby_list.append(re_dic)
        baby_list.sort()
    print(baby_list)

[{'name': 'Mary', 'gender': 'F', 'num': '7065'}]
[{'name': 'Mary', 'gender': 'F', 'num': '6919'}]
[{'name': 'Mary', 'gender': 'F', 'num': '8148'}]
[{'name': 'Mary', 'gender': 'F', 'num': '8012'}]
[{'name': 'Mary', 'gender': 'F', 'num': '9217'}]
[{'name': 'Mary', 'gender': 'F', 'num': '9128'}]
[{'name': 'Mary', 'gender': 'F', 'num': '9889'}]
[{'name': 'Mary', 'gender': 'F', 'num': '9888'}]
[{'name': 'Mary', 'gender': 'F', 'num': '11754'}]
[{'name': 'Mary', 'gender': 'F', 'num': '11648'}]
[{'name': 'Mary', 'gender': 'F', 'num': '12078'}]
[{'name': 'Mary', 'gender': 'F', 'num': '11703'}]
[{'name': 'Mary', 'gender': 'F', 'num': '13172'}]
[{'name': 'Mary', 'gender': 'F', 'num': '12784'}]
[{'name': 'Mary', 'gender': 'F', 'num': '13151'}]
[{'name': 'Mary', 'gender': 'F', 'num': '13446'}]
[{'name': 'Mary', 'gender': 'F', 'num': '13811'}]
[{'name': 'Mary', 'gender': 'F', 'num': '13413'}]
[{'name': 'Mary', 'gender': 'F', 'num': '14406'}]
[{'name': 'Mary', 'gender': 'F', 'num': '13172'}]
[{'name': 'Mary', 'gender': 'F', 'num': '16706'}]
[{'name': 'Mary', 'gender': 'F', 'num': '13136'}]
[{'name': 'Mary', 'gender': 'F', 'num': '14486'}]
[{'name': 'Mary', 'gender': 'F', 'num': '14275'}]
[{'name': 'Mary', 'gender': 'F', 'num': '14961'}]
[{'name': 'Mary', 'gender': 'F', 'num': '16067'}]
[{'name': 'Mary', 'gender': 'F', 'num': '16370'}]
[{'name': 'Mary', 'gender': 'F', 'num': '17580'}]
[{'name': 'Mary', 'gender': 'F', 'num': '18665'}]
[{'name': 'Mary', 'gender': 'F', 'num': '19259'}]
[{'name': 'Mary', 'gender': 'F', 'num': '22848'}]
[{'name': 'Mary', 'gender': 'F', 'num': '24390'}]
[{'name': 'Mary', 'gender': 'F', 'num': '32304'}]
[{'name': 'Mary', 'gender': 'F', 'num': '36642'}]
[{'name': 'Mary', 'gender': 'F', 'num': '45345'}]
[{'name': 'Mary', 'gender': 'F', 'num': '58187'}]
[{'name': 'Mary', 'gender': 'F', 'num': '61438'}]
[{'name': 'Mary', 'gender': 'F', 'num': '64280'}]
[{'name': 'Mary', 'gender': 'F', 'num': '67366'}]
[{'name': 'Mary', 'gender': 'F', 'num': '65838'}]
[{'name': 'Mary', 'gender': 'F', 'num': '70982'}]
[{'name': 'Mary', 'gender': 'F', 'num': '73985'}]
[{'name': 'Mary', 'gender': 'F', 'num': '72176'}]
[{'name': 'Mary', 'gender': 'F', 'num': '71635'}]
[{'name': 'Mary', 'gender': 'F', 'num': '73536'}]
[{'name': 'Mary', 'gender': 'F', 'num': '70586'}]
[{'name': 'Mary', 'gender': 'F', 'num': '67835'}]
[{'name': 'Mary', 'gender': 'F', 'num': '70642'}]
[{'name': 'Mary', 'gender': 'F', 'num': '66873'}]
[{'name': 'Mary', 'gender': 'F', 'num': '63510'}]
[{'name': 'Mary', 'gender': 'F', 'num': '64147'}]
[{'name': 'Mary', 'gender': 'F', 'num': '60295'}]
[{'name': 'Mary', 'gender': 'F', 'num': '59881'}]
[{'name': 'Mary', 'gender': 'F', 'num': '55515'}]
[{'name': 'Mary', 'gender': 'F', 'num': '56931'}]
[{'name': 'Mary', 'gender': 'F', 'num': '55071'}]
[{'name': 'Mary', 'gender': 'F', 'num': '54372'}]
[{'name': 'Mary', 'gender': 'F', 'num': '55646'}]
[{'name': 'Mary', 'gender': 'F', 'num': '56214'}]
[{'name': 'Mary', 'gender': 'F', 'num': '54904'}]
[{'name': 'Mary', 'gender': 'F', 'num': '56206'}]
[{'name': 'Mary', 'gender': 'F', 'num': '58039'}]
[{'name': 'Mary', 'gender': 'F', 'num': '63257'}]
[{'name': 'Mary', 'gender': 'F', 'num': '66170'}]
[{'name': 'Mary', 'gender': 'F', 'num': '62467'}]
[{'name': 'Mary', 'gender': 'F', 'num': '59282'}]
[{'name': 'Mary', 'gender': 'F', 'num': '67470'}]
[{'name': 'Linda', 'gender': 'F', 'num': '99690'}]
[{'name': 'Linda', 'gender': 'F', 'num': '96213'}]
[{'name': 'Linda', 'gender': 'F', 'num': '91019'}]
[{'name': 'Linda', 'gender': 'F', 'num': '80433'}]
[{'name': 'Linda', 'gender': 'F', 'num': '73977'}]
[{'name': 'Linda', 'gender': 'F', 'num': '67080'}]
[{'name': 'Mary', 'gender': 'F', 'num': '64385'}]
[{'name': 'Mary', 'gender': 'F', 'num': '68021'}]
[{'name': 'Mary', 'gender': 'F', 'num': '63172'}]
[{'name': 'Mary', 'gender': 'F', 'num': '61746'}]
[{'name': 'Mary', 'gender': 'F', 'num': '61104'}]
[{'name': 'Mary', 'gender': 'F', 'num': '55851'}]
[{'name': 'Mary', 'gender': 'F', 'num': '54479'}]
[{'name': 'Mary', 'gender': 'F', 'num': '51477'}]
[{'name': 'Mary', 'gender': 'F', 'num': '47680'}]
[{'name': 'Lisa', 'gender': 'F', 'num': '46078'}]
[{'name': 'Lisa', 'gender': 'F', 'num': '56042'}]
[{'name': 'Lisa', 'gender': 'F', 'num': '54272'}]
[{'name': 'Lisa', 'gender': 'F', 'num': '60269'}]
[{'name': 'Lisa', 'gender': 'F', 'num': '56916'}]
[{'name': 'Lisa', 'gender': 'F', 'num': '52435'}]
[{'name': 'Lisa', 'gender': 'F', 'num': '49532'}]
[{'name': 'Lisa', 'gender': 'F', 'num': '45029'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '46159'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '56780'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '63602'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '62450'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '63114'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '58184'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '59475'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '58967'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '56319'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '56716'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '58379'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '57050'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '57117'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '54350'}]
[{'name': 'Jennifer', 'gender': 'F', 'num': '50560'}]
[{'name': 'Jessica', 'gender': 'F', 'num': '48346'}]
[{'name': 'Jessica', 'gender': 'F', 'num': '52681'}]
[{'name': 'Jessica', 'gender': 'F', 'num': '55992'}]
[{'name': 'Jessica', 'gender': 'F', 'num': '51547'}]
[{'name': 'Jessica', 'gender': 'F', 'num': '47887'}]
[{'name': 'Jessica', 'gender': 'F', 'num': '46481'}]
[{'name': 'Ashley', 'gender': 'F', 'num': '43479'}]
[{'name': 'Ashley', 'gender': 'F', 'num': '38455'}]
[{'name': 'Jessica', 'gender': 'F', 'num': '34988'}]
[{'name': 'Jessica', 'gender': 'F', 'num': '32117'}]
[{'name': 'Jessica', 'gender': 'F', 'num': '27938'}]
[{'name': 'Emily', 'gender': 'F', 'num': '25151'}]
[{'name': 'Emily', 'gender': 'F', 'num': '25733'}]
[{'name': 'Emily', 'gender': 'F', 'num': '26183'}]
[{'name': 'Emily', 'gender': 'F', 'num': '26539'}]
[{'name': 'Emily', 'gender': 'F', 'num': '25957'}]
[{'name': 'Emily', 'gender': 'F', 'num': '25057'}]
[{'name': 'Emily', 'gender': 'F', 'num': '24466'}]
[{'name': 'Emily', 'gender': 'F', 'num': '25691'}]
[{'name': 'Emily', 'gender': 'F', 'num': '25039'}]
[{'name': 'Emily', 'gender': 'F', 'num': '23942'}]
[{'name': 'Emily', 'gender': 'F', 'num': '21408'}]
[{'name': 'Emily', 'gender': 'F', 'num': '19358'}]
[{'name': 'Emma', 'gender': 'F', 'num': '18817'}]
[{'name': 'Isabella', 'gender': 'F', 'num': '22311'}]
[{'name': 'Isabella', 'gender': 'F', 'num': '22921'}]
[{'name': 'Sophia', 'gender': 'F', 'num': '21848'}]
[{'name': 'Sophia', 'gender': 'F', 'num': '22320'}]
[{'name': 'Sophia', 'gender': 'F', 'num': '21231'}]
[{'name': 'Emma', 'gender': 'F', 'num': '20941'}]
[{'name': 'Emma', 'gender': 'F', 'num': '20463'}]

In [ ]:
#절대경로 : 전체적인 주소로 어디에서든지 탐색
#상대경로 : 현재 폴더를 기준으로 탐색

In [141]:
# Q10. 주어진 데이터에서 1880년에서 2015년까지  년도 별 출생아 수를 출력하세요.
for y in range(1880,2016):
    year = y
    filename = 'data/names/yob%d.txt' %y
    a = data.count("\n")
    with open(filename,'r') as f:
        data = f.read()
        print('{}년 출생아 수 : {}'.format(year, a))

1880년 출생아 수 : 33138
1881년 출생아 수 : 2000
1882년 출생아 수 : 1935
1883년 출생아 수 : 2127
1884년 출생아 수 : 2084
1885년 출생아 수 : 2297
1886년 출생아 수 : 2294
1887년 출생아 수 : 2392
1888년 출생아 수 : 2373
1889년 출생아 수 : 2651
1890년 출생아 수 : 2590
1891년 출생아 수 : 2695
1892년 출생아 수 : 2660
1893년 출생아 수 : 2921
1894년 출생아 수 : 2831
1895년 출생아 수 : 2941
1896년 출생아 수 : 3049
1897년 출생아 수 : 3091
1898년 출생아 수 : 3028
1899년 출생아 수 : 3264
1900년 출생아 수 : 3042
1901년 출생아 수 : 3730
1902년 출생아 수 : 3153
1903년 출생아 수 : 3362
1904년 출생아 수 : 3389
1905년 출생아 수 : 3560
1906년 출생아 수 : 3655
1907년 출생아 수 : 3633
1908년 출생아 수 : 3948
1909년 출생아 수 : 4018
1910년 출생아 수 : 4227
1911년 출생아 수 : 4629
1912년 출생아 수 : 4867
1913년 출생아 수 : 6351
1914년 출생아 수 : 6968
1915년 출생아 수 : 7965
1916년 출생아 수 : 9357
1917년 출생아 수 : 9696
1918년 출생아 수 : 9913
1919년 출생아 수 : 10398
1920년 출생아 수 : 10369
1921년 출생아 수 : 10755
1922년 출생아 수 : 10857
1923년 출생아 수 : 10756
1924년 출생아 수 : 10643
1925년 출생아 수 : 10871
1926년 출생아 수 : 10638
1927년 출생아 수 : 10458
1928년 출생아 수 : 10406
1929년 출생아 수 : 10159
1930년 출생아 수 : 9822
1931년 출생아 수 : 9791
1932년 출생아 수 : 9298
1933년 출생아 수 : 9380
1934년 출생아 수 : 9012
1935년 출생아 수 : 9180
1936년 출생아 수 : 9038
1937년 출생아 수 : 8893
1938년 출생아 수 : 8946
1939년 출생아 수 : 9031
1940년 출생아 수 : 8918
1941년 출생아 수 : 8961
1942년 출생아 수 : 9086
1943년 출생아 수 : 9424
1944년 출생아 수 : 9408
1945년 출생아 수 : 9152
1946년 출생아 수 : 9025
1947년 출생아 수 : 9706
1948년 출생아 수 : 10371
1949년 출생아 수 : 10241
1950년 출생아 수 : 10270
1951년 출생아 수 : 10305
1952년 출생아 수 : 10463
1953년 출생아 수 : 10645
1954년 출생아 수 : 10837
1955년 출생아 수 : 10981
1956년 출생아 수 : 11122
1957년 출생아 수 : 11339
1958년 출생아 수 : 11568
1959년 출생아 수 : 11526
1960년 출생아 수 : 11768
1961년 출생아 수 : 11925
1962년 출생아 수 : 12180
1963년 출생아 수 : 12211
1964년 출생아 수 : 12285
1965년 출생아 수 : 12398
1966년 출생아 수 : 11953
1967년 출생아 수 : 12155
1968년 출생아 수 : 12400
1969년 출생아 수 : 12938
1970년 출생아 수 : 13751
1971년 출생아 수 : 14778
1972년 출생아 수 : 15297
1973년 출생아 수 : 15415
1974년 출생아 수 : 15683
1975년 출생아 수 : 16249
1976년 출생아 수 : 16946
1977년 출생아 수 : 17395
1978년 출생아 수 : 18180
1979년 출생아 수 : 18233
1980년 출생아 수 : 19039
1981년 출생아 수 : 19455
1982년 출생아 수 : 19481
1983년 출생아 수 : 19698
1984년 출생아 수 : 19408
1985년 출생아 수 : 19509
1986년 출생아 수 : 20086
1987년 출생아 수 : 20657
1988년 출생아 수 : 21409
1989년 출생아 수 : 22369
1990년 출생아 수 : 23775
1991년 출생아 수 : 24716
1992년 출생아 수 : 25114
1993년 출생아 수 : 25426
1994년 출생아 수 : 25965
1995년 출생아 수 : 25997
1996년 출생아 수 : 26079
1997년 출생아 수 : 26423
1998년 출생아 수 : 26971
1999년 출생아 수 : 27906
2000년 출생아 수 : 28554
2001년 출생아 수 : 29775
2002년 출생아 수 : 30276
2003년 출생아 수 : 30566
2004년 출생아 수 : 31190
2005년 출생아 수 : 32049
2006년 출생아 수 : 32551
2007년 출생아 수 : 34094
2008년 출생아 수 : 34962
2009년 출생아 수 : 35084
2010년 출생아 수 : 34715
2011년 출생아 수 : 34082
2012년 출생아 수 : 33915
2013년 출생아 수 : 33757
2014년 출생아 수 : 33296
2015년 출생아 수 : 33266

In [104]:
import os
print(os.getcwd())

C:\Users\tlsdl\Desktop\workspace\programming

In [146]:
# Q11. 주어진 데이터에서 연도별 성별 출생아 수를 계산하여 출력하세요.
for y in range(1880,2016):
    year = y
    filename = 'data/names/yob%d.txt' %y
    a = g + g2
    g = data.count("F")
    g2 = data.count("M")
    
    with open(filename,'r') as f:
        data = f.read()
        print('{}년 출생아 수 : {} 남자 : {} 여자 : {}'.format(year, a,g2,g))

1880년 출생아 수 : 36323 남자 : 16709 여자 : 19533
1881년 출생아 수 : 36242 남자 : 1242 여자 : 1001
1882년 출생아 수 : 2243 남자 : 1171 여자 : 995
1883년 출생아 수 : 2166 남자 : 1283 여자 : 1095
1884년 출생아 수 : 2378 남자 : 1228 여자 : 1116
1885년 출생아 수 : 2344 남자 : 1317 여자 : 1242
1886년 출생아 수 : 2559 남자 : 1306 여자 : 1271
1887년 출생아 수 : 2577 남자 : 1324 여자 : 1357
1888년 출생아 수 : 2681 남자 : 1277 여자 : 1374
1889년 출생아 수 : 2651 남자 : 1404 여자 : 1557
1890년 출생아 수 : 2961 남자 : 1338 여자 : 1563
1891년 출생아 수 : 2901 남자 : 1414 여자 : 1619
1892년 출생아 수 : 3033 남자 : 1380 여자 : 1606
1893년 출생아 수 : 2986 남자 : 1534 여자 : 1756
1894년 출생아 수 : 3290 남자 : 1436 여자 : 1742
1895년 출생아 수 : 3178 남자 : 1499 여자 : 1797
1896년 출생아 수 : 3296 남자 : 1511 여자 : 1903
1897년 출생아 수 : 3414 남자 : 1534 여자 : 1921
1898년 출생아 수 : 3455 남자 : 1497 여자 : 1900
1899년 출생아 수 : 3397 남자 : 1589 여자 : 2075
1900년 출생아 수 : 3664 남자 : 1462 여자 : 1943
1901년 출생아 수 : 3405 남자 : 1832 여자 : 2341
1902년 출생아 수 : 4173 남자 : 1509 여자 : 2039
1903년 출생아 수 : 3548 남자 : 1618 여자 : 2144
1904년 출생아 수 : 3762 남자 : 1615 여자 : 2190
1905년 출생아 수 : 3805 남자 : 1714 여자 : 2277
1906년 출생아 수 : 3991 남자 : 1744 여자 : 2349
1907년 출생아 수 : 4093 남자 : 1740 여자 : 2335
1908년 출생아 수 : 4075 남자 : 1895 여자 : 2526
1909년 출생아 수 : 4421 남자 : 1945 여자 : 2557
1910년 출생아 수 : 4502 남자 : 2065 여자 : 2681
1911년 출생아 수 : 4746 남자 : 2247 여자 : 2939
1912년 출생아 수 : 5186 남자 : 2434 여자 : 3010
1913년 출생아 수 : 5444 남자 : 3468 여자 : 3616
1914년 출생아 수 : 7084 남자 : 3873 여자 : 3927
1915년 출생아 수 : 7800 남자 : 4452 여자 : 4451
1916년 출생아 수 : 8903 남자 : 5231 여자 : 5244
1917년 출생아 수 : 10475 남자 : 5417 여자 : 5461
1918년 출생아 수 : 10878 남자 : 5500 여자 : 5603
1919년 출생아 수 : 11103 남자 : 5765 여자 : 5901
1920년 출생아 수 : 11666 남자 : 5769 여자 : 5863
1921년 출생아 수 : 11632 남자 : 6009 여자 : 6074
1922년 출생아 수 : 12083 남자 : 5980 여자 : 6189
1923년 출생아 수 : 12169 남자 : 5984 여자 : 6105
1924년 출생아 수 : 12089 남자 : 5901 여자 : 6034
1925년 출생아 수 : 11935 남자 : 5975 여자 : 6205
1926년 출생아 수 : 12180 남자 : 5844 여자 : 6083
1927년 출생아 수 : 11927 남자 : 5791 여자 : 5925
1928년 출생아 수 : 11716 남자 : 5753 여자 : 5906
1929년 출생아 수 : 11659 남자 : 5637 여자 : 5726
1930년 출생아 수 : 11363 남자 : 5425 여자 : 5558
1931년 출생아 수 : 10983 남자 : 5432 여자 : 5530
1932년 출생아 수 : 10962 남자 : 5135 여자 : 5242
1933년 출생아 수 : 10377 남자 : 5131 여자 : 5367
1934년 출생아 수 : 10498 남자 : 4979 여자 : 5101
1935년 출생아 수 : 10080 남자 : 5034 여자 : 5205
1936년 출생아 수 : 10239 남자 : 4954 여자 : 5149
1937년 출생아 수 : 10103 남자 : 4846 여자 : 5099
1938년 출생아 수 : 9945 남자 : 4826 여자 : 5169
1939년 출생아 수 : 9995 남자 : 4848 여자 : 5249
1940년 출생아 수 : 10097 남자 : 4794 여자 : 5182
1941년 출생아 수 : 9976 남자 : 4751 여자 : 5259
1942년 출생아 수 : 10010 남자 : 4843 여자 : 5323
1943년 출생아 수 : 10166 남자 : 4943 여자 : 5622
1944년 출생아 수 : 10565 남자 : 4900 여자 : 5610
1945년 출생아 수 : 10510 남자 : 4733 여자 : 5467
1946년 출생아 수 : 10200 남자 : 4581 여자 : 5445
1947년 출생아 수 : 10026 남자 : 4881 여자 : 5917
1948년 출생아 수 : 10798 남자 : 5191 여자 : 6330
1949년 출생아 수 : 11521 남자 : 5109 여자 : 6272
1950년 출생아 수 : 11381 남자 : 5112 여자 : 6307
1951년 출생아 수 : 11419 남자 : 5096 여자 : 6355
1952년 출생아 수 : 11451 남자 : 5157 여자 : 6460
1953년 출생아 수 : 11617 남자 : 5172 여자 : 6629
1954년 출생아 수 : 11801 남자 : 5289 여자 : 6733
1955년 출생아 수 : 12022 남자 : 5325 여자 : 6856
1956년 출생아 수 : 12181 남자 : 5365 여자 : 6965
1957년 출생아 수 : 12330 남자 : 5433 여자 : 7107
1958년 출생아 수 : 12540 남자 : 5564 여자 : 7242
1959년 출생아 수 : 12806 남자 : 5489 여자 : 7245
1960년 출생아 수 : 12734 남자 : 5576 여자 : 7433
1961년 출생아 수 : 13009 남자 : 5621 여자 : 7569
1962년 출생아 수 : 13190 남자 : 5675 여자 : 7761
1963년 출생아 수 : 13436 남자 : 5677 여자 : 7821
1964년 출생아 수 : 13498 남자 : 5674 여자 : 7910
1965년 출생아 수 : 13584 남자 : 5639 여자 : 8037
1966년 출생아 수 : 13676 남자 : 5411 여자 : 7766
1967년 출생아 수 : 13177 남자 : 5561 여자 : 7851
1968년 출생아 수 : 13412 남자 : 5595 여자 : 8081
1969년 출생아 수 : 13676 남자 : 5814 여자 : 8418
1970년 출생아 수 : 14232 남자 : 6177 여자 : 8948
1971년 출생아 수 : 15125 남자 : 6620 여자 : 9611
1972년 출생아 수 : 16231 남자 : 6891 여자 : 9903
1973년 출생아 수 : 16794 남자 : 6974 여자 : 9924
1974년 출생아 수 : 16898 남자 : 7118 여자 : 10062
1975년 출생아 수 : 17180 남자 : 7287 여자 : 10503
1976년 출생아 수 : 17790 남자 : 7617 여자 : 10868
1977년 출생아 수 : 18485 남자 : 7811 여자 : 11168
1978년 출생아 수 : 18979 남자 : 8216 여자 : 11611
1979년 출생아 수 : 19827 남자 : 8122 여자 : 11746
1980년 출생아 수 : 19868 남자 : 8479 여자 : 12249
1981년 출생아 수 : 20728 남자 : 8758 여자 : 12443
1982년 출생아 수 : 21201 남자 : 8730 여자 : 12481
1983년 출생아 수 : 21211 남자 : 8847 여자 : 12631
1984년 출생아 수 : 21478 남자 : 8756 여자 : 12358
1985년 출생아 수 : 21114 남자 : 8796 여자 : 12450
1986년 출생아 수 : 21246 남자 : 9072 여자 : 12785
1987년 출생아 수 : 21857 남자 : 9393 여자 : 13149
1988년 출생아 수 : 22542 남자 : 9756 여자 : 13565
1989년 출생아 수 : 23321 남자 : 10175 여자 : 14190
1990년 출생아 수 : 24365 남자 : 11009 여자 : 14871
1991년 출생아 수 : 25880 남자 : 11323 여자 : 15560
1992년 출생아 수 : 26883 남자 : 11552 여자 : 15796
1993년 출생아 수 : 27348 남자 : 11789 여자 : 15923
1994년 출생아 수 : 27712 남자 : 12178 여자 : 16127
1995년 출생아 수 : 28305 남자 : 12281 여자 : 16065
1996년 출생아 수 : 28346 남자 : 12417 여자 : 16056
1997년 출생아 수 : 28473 남자 : 12700 여자 : 16201
1998년 출생아 수 : 28901 남자 : 13047 여자 : 16471
1999년 출생아 수 : 29518 남자 : 13660 여자 : 16911
2000년 출생아 수 : 30571 남자 : 13976 여자 : 17266
2001년 출생아 수 : 31242 남자 : 14599 여자 : 18001
2002년 출생아 수 : 32600 남자 : 14818 여자 : 18317
2003년 출생아 수 : 33135 남자 : 15008 여자 : 18427
2004년 출생아 수 : 33435 남자 : 15323 여자 : 18789
2005년 출생아 수 : 34112 남자 : 15808 여자 : 19181
2006년 출생아 수 : 34989 남자 : 16077 여자 : 19545
2007년 출생아 수 : 35622 남자 : 16818 여자 : 20435
2008년 출생아 수 : 37253 남자 : 17211 여자 : 20928
2009년 출생아 수 : 38139 남자 : 17440 여자 : 20826
2010년 출생아 수 : 38266 남자 : 17293 여자 : 20541
2011년 출생아 수 : 37834 남자 : 16965 여자 : 20184
2012년 출생아 수 : 37149 남자 : 17045 여자 : 19931
2013년 출생아 수 : 36976 남자 : 16925 여자 : 19904
2014년 출생아 수 : 36829 남자 : 16719 여자 : 19628
2015년 출생아 수 : 36347 남자 : 16721 여자 : 19602

In [209]:
# Q12. 출생년도를 입력하면 그해 인기순 상위10개 이름을 출력하세요.
for y in range(1880,2016):
    y = int(input('출생년도를 입력해주세요.'))
    baby_list = []
    re_dic = {}
    filename = 'data/names/yob%d.txt' %y
    data.replace('\n',',')
    result = data.split(',')
    result = [i.strip() for i in result]
    re_dic['name'] = result[0]
    re_dic['gender'] = result[1]
    re_dic['num'] = result[2]
    baby_list.append(re_dic)
    print("{}년도 상위 이름 : {}".format(y,re_dic["name"]))

출생년도를 입력해주세요.2010
2010년도 상위 이름 : Emma

KeyboardInterrupt: Interrupted by user

In [ ]:
# 마구잡이로 섞여 있을 때도 사용가능하도록

In [31]:
# Q13. 음식점의 음식 주문가격 산출 프로그램을 자유롭게 작성하세요.
class FastFood:
    bill = 0
    
    def __init__(self):
        print("====================")
        print("1 : 김밥     | 2000원")
        print("2 : 짜장라면 | 4000원")
        print("3 : 봉지라면 | 5000원")
        print("4 : 우동     | 6000원")
        print("5 : 라볶이   | 6000원")
        print("====================")
        
    
    def start(self,a):
        
        if a == 1 or a == 김밥:
            print("김밥을 선택했습니다")
            ea1 = int(input('몇 개를 주문하시겠습니까? : '))
            bill = (2000 * ea1)
            print("결제 금액은 {}원 입니다".format(bill))
        elif a == 2 or a == 짜장라면:
            print("짜장라면을 선택했습니다")
            ea2 = int(input('몇 개를 주문하시겠습니까? : '))
            bill = (4000 * ea2)
            print("결제 금액은 {}원 입니다".format(bill))
        elif a == 3 or a == 봉지라면:
            print("봉지라면을 선택했습니다")
            ea3 = int(input('몇 개를 주문하시겠습니까? : '))
            bill = (5000 * ea3)
            print("결제 금액은 {}원 입니다".format(bill))
        elif a == 4 or a == 우동:
            print("우동을 선택했습니다")
            ea4 = int(input('몇 개를 주문하시겠습니까? : '))
            bill = (6000 * ea4)
            print("결제 금액은 {}원 입니다".format(bill))
        elif a == 5 or a == 라볶이:
            print("라볶이를 선택했습니다")
            ea5 = int(input('몇 개를 주문하시겠습니까? : '))
            bill = (4000 * ea5)
            print("결제 금액은 {}원 입니다".format(bill))
        else:
            print('없는 메뉴 입니다!')
    
print("====================")
print("1 : 김밥     | 2000원")
print("2 : 짜장라면 | 4000원")
print("3 : 봉지라면 | 5000원")
print("4 : 우동     | 6000원")
print("5 : 라볶이   | 6000원")
print("====================")
a = input("주문하실 메뉴를 입력해주세요 : ")
    
start = FastFood()
start.start(a = input("주문하실 메뉴를 입력해주세요 : "))

====================
1 : 김밥     | 2000원
2 : 짜장라면 | 4000원
3 : 봉지라면 | 5000원
4 : 우동     | 6000원
5 : 라볶이   | 6000원
====================
주문하실 메뉴를 입력해주세요 : 김밥
====================
1 : 김밥     | 2000원
2 : 짜장라면 | 4000원
3 : 봉지라면 | 5000원
4 : 우동     | 6000원
5 : 라볶이   | 6000원
====================
주문하실 메뉴를 입력해주세요 : 김밥

NameError: name '김밥' is not defined

In [2]:
# Q14. Player가 3승할 때까지 계속 진행되는 가위바위보 게임 프로그램을 작성하세요.
# 게임은 Player와 컴퓨터간 진행
import random
i = input('1 : 가위,2 : 바위,3 : 보 를 *숫자로 입력해주세요* : ')
con_win = 0
con_play = 0
li1 = [0,1,2]
b = li1.shuffle()
for i in b:
    if i == 1:
        print('비겼습니다')
    elif i == 2:
        print('비겼습니다')
    elif i == 3:
        print('비겼습니다')
    else:
        print("올바른 값을 입력해주세요")

1 : 가위,2 : 바위,3 : 보 를 *숫자로 입력해주세요* : 1

AttributeError: 'list' object has no attribute 'shuffle'

In [ ]:
# Q15. 컴퓨터가 랜덤하게 생성하는 숫자 맞추기 게임 프로그램을 작성하세요.
import random

class Game:
    def __init(self):
        self.a = random.randrange(30)
        
    def

In [ ]:
import pandas as pd
import numpy as np
data = np.arange(20).reshape(4,5)
data
df = pd.DataFrame(data, colums = ['a','b'])
df
df = pd.read_csa('data/test.csv')